:root {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  --serif: PT Serif, serif;
  --mono: Source Code Pro, monospace;
  --sans: Source Sans Pro, sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  --light-background: #f5f5f5;
  --dark-background: #DADED4;
  --light-accent: #4D774E;
  --dark-accent: #164A41;
  --light-highlight: #FDF8F5;
  --dark-highlight: #393f4d;
}

.theme-dark {
  --light-background: #323232;
  --dark-background: #212121;
  --light-accent: #B4CFB0;
  --dark-accent: #789395;
  --light-highlight: #FFF1CE;
  --dark-highlight: #ffffffff;
  color: var(--light-highlight);
  /* color: white; */
}

.theme-light {
  --light-background: #f5f5f5;
  --dark-background: #DADED4;
  --light-accent: #4D774E;
  --dark-accent: #164A41;
  --light-highlight: #FDF8F5;
  --dark-highlight: #393f4d;
  color: var(--dark-highlight);
}

html, body, #root {
  overflow: hidden;
  background-color: var(--dark-background);
}

body {
  font-size: 1.8rem;
  margin: 0;
}

*,*::after, *::before {
  box-sizing: inherit;
}

code {
  background-color: var(--dark-background);
  padding: 0 5px;
  border-radius: 10px;
  font-weight: normal;
  font-size: .8em;
  max-width: 100%;
  word-break: break-all;
}

pre {
  display: block;
  margin: 0;
  max-width: 100%;
  font-size: .8em;
  white-space: pre-wrap;
}

p {
  text-indent: 10px;
}

figure {
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: .8rem;
}

* {
  scroll-behavior: smooth;
}

@supports (-webkit-overflow-scrolling: touch) {
  :where(input) {
    font-size: 1.6rem;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.fade_in {
  animation: fade .5s ease-in-out;  
}

@keyframes fade {
  0%{ opacity: 0; transform: scale(.99); }
  100% { opacity: 1; transform: scale(1); }
}

.link {
  padding: 5px 20px;
  font-size: 2rem;
  cursor: pointer;
  color: var(--light-highlight);
  background: linear-gradient(to left, var(--dark-accent), var(--light-accent));
  border-radius: 5px;
  border: 2px solid var(--light-accent);
  position: relative;
  transition: all .5s ease-in-out;
  width: 100%;
  max-width: 200px;
}

.link::before,
.link::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border: inherit;
  transition: all .5s;
}

.link::before {
  top: -10px;
  left: -10px;
  border-width: 3px 0 0 3px;
}

.link::after {
  bottom: -10px;
  right: -10px;
  border-width: 0 3px 3px 0;
}

.link:hover::before,
.link:hover::after {
  width: calc(100% + 20px);
  height: calc(100% + 20px);
}

.link:hover {
  transform: scale(.95);
}

.button {
  padding: 5px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--light-highlight);
  background: linear-gradient(to left, var(--dark-accent), var(--light-accent));
  border-radius: 5px;
  border: 2px solid var(--light-accent);
  position: relative;
  transition: all .5s ease-in-out;
  width: 100%;
  max-width: 200px;
  display: flex;
  justify-content: center;
}

.button:hover,
.button:focus {
  border: 2px solid var(--dark-accent);
}

.asyncButton {
  composes: button;
  position: relative;
}

.asyncButton:after {
  content: '';
  background-color: rgba(255, 255, 255, 0.15);
  /* background: linear-gradient(to right, var(--dark-accent), var(--light-accent)); */
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: width .2s linear, opacity 0.5s ease 1s;
}

.asyncButton:active:after {
  width: 0%;
  opacity: 1;
  transition: 0s;
}

.main_container {
  max-height: 90vh;
  overflow-y: auto;
  height: calc(100% - 75px);
  position: absolute;
  top: 75px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 5px;
  gap: 20px;
}

.main_container::-webkit-scrollbar {
  width: 5px;
  background-color: var(--light-background);
}

.main_container::-webkit-scrollbar-thumb {
  background: var(--light-highlight);
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.splash_header {
  width: fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.splash_header img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: .2;
}

.splash_title {
  border-radius: 10px;
  padding: 0 25px;
  width: 100%;
  height: 100%;
  background-color: var(--dark-accent);
  font-size: 40px;
  color: #fff;
  /* mix-blend-mode: hard-light; */
  mix-blend-mode: multiply;
  margin: 0;
}

.section {
  background-color: var(--light-background);
  padding: 20px;
  border-radius: 10px;
  width: 95vw;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.list_item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list_column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.image {
  object-fit: cover;
  max-width: 500px;
  height: 300px;
  width: 90%;
  border-radius: 10px;
}

.modal_image {
  object-fit: contain;
  max-width: 80vw;
  height: 80vh;
  border-radius: 10px;
}

.list {
  list-style: lower-roman;
  list-style-position: inside;
  text-align: left;
  padding-left: 5px;
}

.list > * {
  padding-bottom: 10px;
}

.header {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.header > .link {
  align-self: center;
}

.scroll {
  display: inline-block;
  margin-block: 4px;
  text-decoration: none;
  color: var(--dark-accent);
  position: relative;
  font-size: 2rem;
}

.scroll::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--light-accent);
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .25s ease-in-out;
}

.scroll:hover::after {
  transform: scaleX(1);
}

.top {
  align-self: flex-end;
  margin: 0;
}

/* Loading frames, Spinners */

.spinner {
  position: relative;
  top: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  align-self: center;
  justify-self: center;
}

.spinner::before,
.spinner:after {
  content: "";
  position: absolute;
  border-radius: inherit;
}

.spinner:before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, var(--light-accent), var(--light-background));
  animation: spin 1.5s infinite linear;
}

.spinner:after {
  width: 85%;
  height: 85%;
  background-color: var(--light-background);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* MAIN PAGE CONTROLLER */

.controller_body {
  width: 400px;
  height: 200px;
  background-color: #323232;
  color: white;
  position: relative;
  border-radius: 25px;
  border: 5px solid var(--light-accent);
  border-style: double;
  box-shadow: 0 0 10px var(--dark-accent);
}

.stick {
  background-color: #212121;
  min-width: 60px;
  /* width: 8vw; */
  min-height: 60px;
  /* height: 8vw; */
  position: absolute;
  top: 40%;
  left: 10%;
  z-index: 3;
  border-radius: 50%;
  border: 1px solid var(--light-accent);
  border-style:groove;
  transition: border .2s ease-in-out;
}

.stick:hover {
  border: 2px solid var(--light-accent);
  cursor: pointer;
}

.stick:after {
  content: "";
  background-color: white;
  height: 30%;
  width: 5px;
  position: absolute;
  right: 30%;
  top: 20%;
  z-index: 4;
  border-radius: 50%;
  transform: rotate(-15deg);
}

.select {
  position: absolute;
  top: 10%;
  left: 32%;
  font-size: .8em;
  min-width: 50px;
  text-align: center;
}

.select:after {
  content: "";
  background-color: var(--dark-background);
  position: absolute;
  top: 20px;
  left: -10%;
  width: 120%;
  min-width: 50px;
  height: 15px;
  border-radius: 15%;
  border: 1px solid var(--light-accent);
  border-style: outset;
  transition: border .2s ease-in-out;
}

.select:hover:after {
  border: 2px solid var(--light-accent);
  cursor: pointer;
}

.start {
  position: absolute;
  top: 10%;
  right: 32%;
  font-size: .8em;
  min-width: 50px;
  text-align: center;
}

.start:after {
  content: "";
  background-color: var(--dark-background);
  position: absolute;
  top: 20px;
  left: -10%;
  width: 120%;
  min-width: 50px;
  height: 15px;
  border-radius: 15%;
  border: 1px solid var(--light-accent);
  border-style: outset;
  transition: border .2s ease-in-out;
}

.start:hover:after {
  border: 2px solid var(--light-accent);
  cursor: pointer;
}

.under_buttonA {
  background-color: black;
  min-width: 50px;
  /* width: 6vw; */
  min-height: 50px;
  /* height: 6vw; */
  position: absolute;
  top: 35%;
  right: 8%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.under_buttonA:after {
  content: "";
  border: 1px solid var(--light-accent);
  border-style: inset;
  position: absolute;
  height: 80%;
  width: 80%;
  border-radius: 50%;
  /* z-index: 1; */
  transition: border .2s ease-in-out;
}

.under_buttonA:hover:after {
  border: 2px solid var(--light-accent);
  cursor: pointer;
}

.select_button {
  background-color: rgb(159, 15, 15);
  min-width: 40px;
  /* width: 5vw; */
  min-height: 40px;
  /* height: 5vw; */
  position: absolute;
  /* z-index: 1; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.under_buttonB {
  background-color: black;
  min-width: 50px;
  /* width: 6vw; */
  min-height: 50px;
  /* height: 6vw; */
  position: absolute;
  top: 50%;
  right: 22%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.under_buttonB:after {
  content: "";
  border: 1px solid var(--light-accent);
  border-style: inset;
  position: absolute;
  height: 80%;
  width: 80%;
  border-radius: 50%;
  /* z-index: 3; */
}

.under_buttonB:hover:after {
  border: 2px solid var(--light-accent);
  cursor: pointer;
}

.back_button {
  background-color: rgb(159, 15, 15);
  min-width: 40px;
  /* width: 5vw; */
  min-height: 40px;
  /* height: 5vw; */
  position: absolute;
  /* top: 145px;
  right: 20%; */
  /* z-index: 3; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

@media screen and (min-width: 1200px) {

  .header {
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
    /* width: 90vw; */
  }
}